body{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  
} 

.loginStyle{
  width: 300px;
  margin: auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  margin-top: 50px;
}

.loginID_style{
  margin: 10px 0;
}

.loginHeading{
  text-align: center;
  left: 50%;
}

.password_style{
  margin: 10px 0;
}

.bottom_style{
  text-align: center;
  margin: 20px 0;
}

.submit_style{
  padding: 10px 15px;

}

.modeSelection{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.modeSelection label {
  display: block;
  cursor: pointer;
}

.modeSelection input[type="radio"] {
  margin-right: 8px;
}

.submitGroup {
  text-align: center;
  margin-top: 20px;
}