/* InstructorClass.css */
* {
  box-sizing: border-box; 
  margin: 0% ;
  padding: 0%;
}
  
  .class-management {
    display: flex;
    height: 0%;
    min-height: 100vh;
  }
  
  .sidebar {
    margin-top: -3%;
    width: 25%; /* Or whatever width you prefer */
    height: 100vh;
    background: #333333; /* Sidebar color */
    color: white;
    padding: 15px;
    justify-content: space-between;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li.active {
    background: #555; /* Active item color */
  }
  
  .content {
    margin-top: -5%;
    height: 700px;
    flex-grow: 1;
    overflow-y: auto; /* For scrolling if content overflows */
    background: #fff; /* Background color for content */
    padding: 20px;
  }
  
  table {
    width: 100%; /* Full width of content area */
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd; /* Border color for table cells */
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50; /* Header background color */
    color: white;
  }